body,
html {
  margin: 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.header {
  margin-top: 1rem;
  font-size: 2rem;
  grid-column: 2 / 3;
}
.game-board {
  justify-content: center;
  margin-top: 1rem;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 150px));
  grid-template-rows: repeat(3, minmax(200px, 150px));
  gap: 10px;
}

.square {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round';
  font-size: 8rem;
}

.result {
  margin-top: 1rem;
  grid-column: 2 / 3;
}
.navigation {
  margin-top: 1rem;
  grid-column: 2 / 3;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.game-mode {
  margin-top: 20px;
  grid-column: 2 / 3;
}

form {
  margin-top: 20px;
  display: none;
}

.toggle {
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.5rem;
}

input[type='text'] {
  padding: 15px;
  border-radius: 20px;
  width: 50%;
}

.form-title {
  font-size: 1.2rem;
}

button {
  width: 25%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 15px;
}

.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.difficulty{
  display: flex;
  gap: 30px;
}